<div id="heroe">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"> <img src="/images/classroom.jpg" class="d-block mx-lg-auto img-fluid"
                alt="Classroom" width="700" height="500" loading="lazy"> </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Turn Learning Into an Adventure.</h1>
            <h2>Create interactive scavenger hunts students actually want to finish.</h2>
            <p class="lead">Turn your current curriculum into engaging, hands-on activities while the platform manages
                setup
                and flow behind the scenes — saving you time and effort.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/teacherInterface" target="_blank" rel="noopener noreferrer"><button type="button"
                        class="btn btn-light btn-lg px-4 me-md-2 create-hunt">Create Hunt</button></a>
            </div>
        </div>
    </div>
</div>