body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: #333;
}


@media print {
    .break-page {
        page-break-before: always;
    }

    .no-print {
        display: none;
    }
}

#heroe {
    background-color: #F5F9FC;
}

.btn {
    background-color: #135789;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.break-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-control {
    width: 80%;
}